/* COLORS */

@import 'colors';
$landing-bg: #ffffff;


#landing{
    
    background: $blue-mid;
    
    min-height:700px;
    
    .box-inner{
        max-width:650px;
        margin-top:10%;
    }
    
    h1{
        color: $w;
        font-size:2.6em;
    }
    
    h4{color: $w;}
    
    p{
    color: $w;
        margin-bottom:2em;
    }
 
    .landing-button{
        display:inline-block;
        background: $blue-dark;
        color: $w;
        
        padding:.5em .75em;
        border-radius:.5em;
    }
    
    .landing-button:hover{
        background: $blue-mid;
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

    }
    
}

#intro{
    
    .box-inner{
        max-width:750px;
    }
    
    
}


