@font-face {
    font-family: 'Labil Grotesk';
    src: url('LabilGrotesk-Bold.woff2') format('woff2'),
        url('LabilGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Labil Grotesk';
    src: url('LabilGrotesk-Regular.woff2') format('woff2'),
        url('LabilGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

