$darkgray: #5a5a5a;
$midgray: #a8a8a8;
$lightgray: lightgray;


#intro{
    padding:0 0 2em 0;
}

#events {


    h1 {
        text-align: center;
        margin: .5em;
        font-weight: 400;
        color: $midgray;
    }


    .event-container {
        display: flex;
        flex-wrap: wrap;

        .event-box {

            width: 100%;
            max-width: 650px;
            margin-bottom: 1em;
            padding: 1em;
            overflow: hidden;
            justify-content: center;
            border-bottom: 1px solid $darkgray;

            .details {
                text-align: center;
                padding: 0 2em;

                .detail {
                    display: inline-block;
                    padding: .5em;
                }

            }


            img {
                max-width: 130px;
                width: auto;
                overflow: hidden;
                float: left;
                border-radius: 20px;
            }


            a.launch {
                margin: 1em;
                border: 1px solid $midgray;
                border-radius: 20px;
                font-family: "Messina Sans Mono";
                font-size:.8em;
                text-transform: uppercase;
                padding:.5em 1em;
                color: $midgray;
            }

            a.launch:hover {
                background: $lightgray;
                color: $darkgray;
                cursor: ne-resize;
            }

            .details {
                float: right;
                width: 70%;

                p {
                    font-size: .9em;
                    line-height: 1.4em;
                    text-align: left;
                    padding-bottom: 1em;
                }

                .detail {
                    font-size: .8em;
                    color: $midgray;
                    padding: .5em;
                    margin: 0 .5em;
                }

                h2 {
                    font-family: "Suisse Intl";
                    text-align: left;
                    width: auto;
                    margin: 0;
                    padding: .2;
                    font-size: 1.6em;
                    font-weight: 500;
                    color: $lightgray;
                }

                h3 {
                    margin: 0;
                    text-transform: uppercase;
                    text-align: left;
                    font-family: "Messina Sans Mono";
                    font-size: .8em;
                }

            }

            @media only screen and (max-width: 780px) {

                padding: 1.5em;

                img {
                    max-width: 100%;
                    margin: 1em 0;

                }

                .details {
                    width: 100%;
                    padding: .5em;
                }

            }


        }

    }


    .event-box:hover img {
        transform: scale(1.02);
        overflow: hidden;
    }

    .event-box:hover h2 {
        text-shadow: 0 0 30px $darkgray;
    }


}




.comingup-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .event-box:hover{
        cursor: ne-resize;
    }

    .event-box {

        width: 100%;
        max-width: 200px;
        padding: 0;
        margin: .5em 1em 1em 1em;
        overflow: hidden;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid $darkgray;

        .details {
            text-align: center;
            padding: 0 2em;

            .detail {
                display: inline-block;
                padding: .5em;
            }

        }


        img {
            max-width: 200px;
            max-height:95px;
            margin: 0 auto;
            width: auto;
            overflow: hidden;
            border-radius: 20px;
            padding:.5em 0;
        }


        h3 {
            margin: 0;
            padding:.5em 0;
            text-transform: uppercase;
            text-align: center;
            font-family: "Messina Sans Mono";
            font-size: .8em;
        }

        .details {
                        max-width:90%;

            .detail {
                font-size: .8em;
                color: $midgray;
                padding: .5em;
                margin: 0 .5em;
            }

            h2 {
                font-family: 'Suisse Intl';
                width: auto;
                margin: 0;
                max-width: 100% !important;
                width: 100%;
                font-size: 1em;
                line-height: 1em;
                text-align: center;
                font-weight: 500;
                color: $lightgray;
            }
            
            h4{
                font-size:.5em;
                font-weight: 100;
            }


        }

        @media only screen and (max-width: 780px) {

            img {
                max-width: 100%;
                margin:auto;

            }

            .details {
                width: 100%;
                padding: .5em;
            }

        }


    }

}


#community-intro {

    margin-top: 1em;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

#community-intro h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "Messina Sans Mono";
    text-transform: uppercase;
    opacity: 0.6;
    color: lightgray;
}

#community-intro h1 {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 2.6em;
    padding: .75em;
    max-width: 700px;
}

#community-intro a {
    margin: 0 1em;
    background: none;
    color: $lightgray;
    border: 1px solid $lightgray;
    border-radius: 20px;
    font-family: "Suisse Intl";
    mix-blend-mode: difference;
    padding: .3em 1.4em .4em 1.4em;
}

#community-intro a:hover {
    background: $lightgray;
    color: $darkgray;
}


@media only screen and (max-width: 600px) {

    #community-intro h1 {
        font-size: 1.9em;
    }

    #community-intro a {
        margin: 1em;
        display: block;
    }

}
