/* COLORS */

$b: #131314;
$black-dark: #262728;
$black-mid: #323334;
$gray: #5E6265;
$gray-light: #B2B8BF;
$w: #FCFCFF;

$blue-dark: #001E8F;
$blue-mid: #1931AB;

$blue-accent: #95C5DB;
$cyan-highlight: #B6E7E0;


$landing-bg: #ffffff;


#landing{
    
    background: $blue-mid;
    color: $w;
    
    min-height:700px;
    
    .box-inner{
        max-width:600px;
    }
    
    h1{
        
    }
    
    p{
        margin-bottom:2em;
    }
 
    .landing-button{
        background: $blue-dark;
        color: $w;
        
        padding:.5em .75em;
        border-radius:.5em;
    }
    
    .landing-button:hover{
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

    }
    
}



