/* COLORS */

@import 'colors';
$landing-bg: #ffffff;


#landing {

    position: relative;
    background: $blue-mid;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    
    .headline {
        position: absolute;
        padding-bottom:2em;
        text-align: center;
    font-family: 'Messina Sans Mono';
        text-transform: uppercase;
        font-size:2.4em;
        line-height:1.3em;
        width:60vw;
        max-width:500px;
        
        #typed{
            display: inline-block;
            color: $w;  
            height:150px;
            overflow:hidden;
            mix-blend-mode: screen;
        }
        
        .word{
            mix-blend-mode: overlay;
            color: $w;
            font-size:.4em;
            display: block;
            margin-bottom:-1em;
        }
        
    }

    .box-inner {
        bottom: 1em;
        padding: 1em;
        position: absolute;
    }

    h4 {
        color: $gray-lighter;
    }

    p {
        color: $w;
    }

    .landing-button {
        display: inline-block;
        color: $gray-light;
        mix-blend-mode: screen;
        padding: 1em 0 0 0;
        border-radius: .5em;
        margin:0 1.5em 0 0;
    }

    .landing-button:hover {
        color: $gray-lighter;
        text-shadow:0 0 10px $gray;
        transform: translateX(4px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

    }
    
    
    @media only screen and (max-width: 800px) {
     
        .headline{
            
            top:150px;
            
            #typed{
                font-size: .6em;
                line-height:1.3em;
                height:230px;
            }
            
        }
        
    }

}


#group{
    
    min-height:450px;
    background: #1c35a5;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    
    h1{
        text-align: center;
        max-width:90vw;
        font-size:2.4em;
        color: $w;
    }
    
    p{
        color: $w;
        text-align: center;
        margin-bottom:1em;
    }
    
    a.button{
        display:block;
        width:300px;
        
        margin:.5em;
        padding:1em;
        
        color: $blue-dark;
        background: $blue-accent;
        border-radius:18px;
    }
    
    

    a.button:hover {
        background: $blue-accent;
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }
    
    em{
        padding:.5em;
        color: $gray-lighter;
    }
    

    .community-why{
        
        padding:2em 0 1em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .why{
            display: inline-block;
            width:180px;
            padding: .5em;
            margin:.5em 1em;
            
            img{
                width:80px;
                padding: .5em;
            }
            
            
            h2{
                text-align: center;
                font-family:"Founders Grotesk";
                font-weight: 400;
                color:#fff;
                margin:0;
                padding:0;
                max-width:100%;
            }
            
            p{
                font-size:.8em;
                line-height: 1.2em;
            }
            
            
        }
        
        
    }
    
    @media only screen and (max-width: 800px) {
    
        background-position: center top;
        background-size:contain;
    
    }
    
}





#announcement{
    background: #1d31b4;
    text-align: center;
    padding:4em 0;
    
    img{
        mix-blend-mode: lighten;
    }
    
    img:hover{
        transform: scale(1.035);
    }
    
    p{
        color: $w;
    }
    
    
    h4{
        color: $gray-lighter;   
    }
    
    hr{
        border:0;
        padding:2em;
    }

    a.button {
        display: inline-block;
        color: $gray;
        background: $blue-accent;
        height:30px;
        line-height: 30px;
        margin: 1em;
        padding: .5em .75em;
        border-radius: 18px;
    }

    a.button:hover {
        background: $gray-lighter;
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }
    
    
    
}

h2.big{
    font-size:2.6em;
    margin:0;
}

.box-inner {
    max-width: 750px;
}


#intro {

    .box-inner {
        max-width: 750px;
    }


}

#accelerator{
    background: $blue-mid;
    color: $w;
    background-blend-mode: screen;
    background-position: top center;
    background-size:cover;
    
    *{
        color: $w;
    }
    
}
