/* COLORS */

@import 'colors';
$landing-bg: #ffffff;


#landing {

    position: relative;
    background: #1d1a1a;
    min-height: 700px;
    background-size: cover;
    background-position: center;
    
    .headline {
        position: absolute;
        padding-bottom:4em;
        text-align: center;
    font-family: 'Messina Sans Mono';
        text-transform: uppercase;
        font-size:2.4em;
        line-height:1.3em;
        width:60vw;
        max-width:500px;
        
        #typed{
            display: inline-block;
            color: $w;  
            height:150px;
            overflow:hidden;
            mix-blend-mode: screen;
        }
        
        .word{
            mix-blend-mode: overlay;
            color: $w;
            font-size:.4em;
            display: block;
            margin-bottom:-1em;
        }
        
    }

    .box-inner {
        bottom: 1em;
        padding: 1em;
        position: absolute;
    }

    h4 {
        color: $gray-lighter;
    }

    p {
        color: $w;
    }

    .landing-button {
        display: inline-block;
        color: $gray-light;
        mix-blend-mode: screen;
        padding: 1em 0 0 0;
        border-radius: .5em;
    }

    .landing-button:hover {
        color: $gray-lighter;
        text-shadow:0 0 10px $gray;
        transform: translateX(4px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

    }

}

.box-inner {
    max-width: 750px;
}

#intro {

    .box-inner {
        max-width: 750px;
    }


}
