body{
    color:#fff;
}

#container{
    margin:0;
}


#landing{
    
    background: rgb(6,12,159);
    background-size: cover;
    background-repeat: no-repeat;
background: linear-gradient(180deg, rgba(6,12,159,1) 0%, rgba(6,12,159,1) 76%, rgba(149,197,219,1) 99%);
}

