/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* COLORS */


@import 'colors';



/* BASE */

body {
    background: $w;
    font-family: 'Messina Sans';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    outline: 1em solid red;

    justify-items: center;

    overflow-x: hidden;
    overflow-y: scroll;
}


.box {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    margin: 0;
}



/* CODE */

body,
* {
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    color: $gray;
}


h1 {
    display: block;
    font-size: 2.2em;    
    font-family: 'Suisse Intl';
    font-weight: 800;
    margin: 0;
}

h2 {
    display: block;
    font-size: 1.8em;
    color: $gray;
    font-family: 'Suisse Intl';
    max-width: 90%;
}

h3 {
    margin: 1em 0;
    color: $w;
    font-weight: 100;
}

h4 {
    margin: .3em 0;
    font-size: .8em;
    text-transform: uppercase;
    font-family: 'Messina Sans Mono';
}


hr {
    padding: 2em 0;
    border: 0;
}

p {
    font-size: 18px;
        color: $gray-light;
        line-height:1.8em;
        margin-bottom:1.5em;

    a {
        border-bottom: 1px solid transparent;
    }

    a:hover {
        border-bottom: 1px solid $blue-dark;
    }

}




@media only screen and (max-width: 800px) {
    
    h1{
        font-size:1.6em;
    }
    
    h2{
        font-size:1.4em;
    }
    
    h2.big{
        font-size:1.8em !important;
    }
    
    p{
        font-size:14px;
    }
    
}


blockquote {
    padding: 1em;
    line-height: 1.8em;
    background: $gray-lighter;
    color: $black-dark;
    max-width: 80%;
}

.iframe-container {
    height: auto;
    min-height: 1000px;

    iframe {}

}


.box-inner {
    max-width:750px;
    padding: 5vw;
}


a {
    color: $blue-dark;
    text-decoration: none;
}

a:hover {
    color: $blue-accent;
}

img {
    max-width: 100%;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::after {
    content: "Learn more...";
    color: $gray-lighter;
}

details:hover summary::after {
    color: $gray-light;
}

ul, ol{
    max-width: 700px;
}

ul li, ol li{
    color: $w;
    padding:.25em 1em;
    margin:0;
    font-size:1.125em;
    line-height: 1.4em;
}

.row {
    display: flex;

    section {
        min-width: 40%;
    }


    @media only screen and (max-width: 800px) {
        flex-wrap: wrap;

        section {
            width: 100%;
        }
    }

}



.impact{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .impact-box{
        display: inline-block;
        width:190px;
        text-align: center;
        font-family: 'Messina Sans';
        margin:1em 0;
    }
    
    small{
        color: $w;
        opacity:0.3;
    }
    
    strong{
        font-size:2em;
        line-height:140%;
        font-family: 'Suisse Intl';
        color: $blue-accent;
    }
    
        em{
    font-family: 'Messina Sans Mono';
            display: block;
            text-transform: uppercase;
            font-style: normal;
            color: $w;
        }
        
    
    @media only screen and (max-width: 800px) {
        .impact-box{
            width:190px;
        }   
        
        justify-content: center;
    }
}


/* HEADER */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 99;
    box-sizing: border-box;
    background-image: url(../navigatin.png);
    background-repeat: repeat-x;
    background-size: contain;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;

    .header-container {
        width: 100%;
        max-width: 1000px;
    }

    // Logo
    .header-left {
        display: inline-block;
        float: left;
        padding: .5em;
        width: 150px;
        opacity: 0.9;
    }

    .header-left:hover {
        transform: scale(1.02);
        opacity: 1;
    }

    .header-right {
        display: inline-block;
        float: right;
        margin-top: .75em;

        // Header styling
        a {
            color: $w;
            font-family: "Messina Sans Mono";
            font-size: 1em;
            line-height: 30px;
            margin: .5em .5em;
            padding: .5em;
            opacity: 0.9;

            text-transform: uppercase;

        }

        a:hover {
            color: $blue-accent;
            opacity: 1;
        }

        i {
            color: $w;
        }

        i:hover {
            color: $blue-accent;
        }

    }


    @media only screen and (max-width: 800px) {

        .hide {
            display: none;
        }

        i:after {
            content: "Explore";
            font-family: "Messina Sans Mono";
            padding-left: 1em;
        }

        .header-left {
            display: none;
        }

        .header-right {
            width: 100%;
            text-align: center;
        }
    }

}



/* FOOTER */

#footer {

    box-sizing: border-box;
    padding: 1em 0;
    background: $b;
    color: $gray-light;
    text-align: center;

    .box-inner {
        max-width: 750px;
        min-height: 90px;
    }

    .links a {
        padding: 0 .5em;
        margin: 0 .5em;
        font-family: 'Messina Sans Mono';
        color: $gray-lighter;
        text-transform: uppercase;
        font-size: .9em;
    }
    
    i{
        color: $gray-lighter;
    }

    .links a:hover {
        text-shadow: 0 0 10px $gray-lighter;
    }

    p {
        font-size: 1.2em;
        font-weight: 100;
        color: $gray-light;
    }


    @media only screen and (max-width: 800px) {

        p {
            text-align: justify;
            padding:0 1em;
            line-height: 1.4em;
            font-size: .8em;
        }
    }
}


/* PAGES */

#heading {
    box-sizing: border-box;
    margin-top: 1.75em;
    background: $blue-mid;
    background-position: top center;
    min-height: 300px;
    background-size: cover;
    background-repeat: none;

    .box-inner {
        max-width: 600px;
        padding-top: 2em;
    }

    h1 {
        text-align: center;
        max-width: 100%;
        color: $w;
        font-size: 2.6em;
        font-weight: 400;
    }

    p {
        color: $gray-lighter;
        mix-blend-mode: screen;
        text-align: center;
    }

}


/* NAVIGATION */

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1931AB;
    display: none;
    justify-content: center;
    z-index: 999;
}

#navigation .navigation-close {
    position: fixed;
    font-size: 2em;
    right: 0;
    padding: 1em 1.5em;

    i {
        color: $cyan-highlight;
    }

    i:hover {
        color: black;
    }
}

#navigation .navigation-inner {
    margin: auto;
    width: 90vw;
    max-width: 600px;
    text-align: center;


    a {
        display: block;
        padding: 1em;
        font-size: 1.3em;
        border-bottom: 1px solid $blue-dark;
        color: $cyan-highlight;
        font-family: "Messina Sans Mono";
        text-transform: uppercase;
        
    }

    a:hover {
        border-bottom: 1px solid $blue-page;
        color: $w;
        text-shadow: 0 0 35px $w;
    }


    .social {
        margin-top: 1em;
    }

    .social a {
        display: inline-block;
        border: 0;
        font-size: 1em;
    }

    .social i {
        color: cornflowerblue;
    }

    .social i:hover {
        color: $w;
    }

    @media only screen and (max-width: 800px) {

        a {
            font-size: 1.2em;
        }

    }

}



/* CONTAINER */



#container::after {
    z-index: 9999;
    pointer-events: none;
    animation: grain 8s steps(10) infinite;
    background-image: url(../images/noise.png);
    background-repeat: repeat;
    content: ' ';
    height: 200%;
    left: -50%;
    opacity: .6;
    position: fixed;
    top: -100%;
    width: 200%;
}


/* EMAIL SIGNUP */

#signup {

    padding-top:1em;
    min-height: 250px;

    .box-inner {
        margin-top: -2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    * {
        display: inline-block;
    }

    h2 {
        display: block;
        text-align: center;
        margin: .5em;
    }

    p {
        margin: 0;
        text-align: center;
    }

    #mc_embed_signup {
        padding: 1em;
        margin: 0 auto;
    }

    .mc-field-group {
        font-size: 1em;

        input[type=email] {
            background: none;
            display: inline-block;
            border: 1px solid $gray-light;
            border-radius: 5px;
            font-size: 1em;
            padding: .5em 1em;
            font-family: 'Messina Sans';
            height: 23px;
            min-width: 290px;
        }


    }

    input[type=submit] {
        display: inline-block;
        background: $b;
        color: $w;
        padding: .4em 1em;
        font-size: 1.1em;
        border-radius: 5px;
        border: 0;
        margin: 0;
        margin-top: .4em;
        height: 41px;

    }

    input[type=submit]:hover {
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }

    
    @media only screen and (max-width: 800px) {
        
        p{
            line-height: 1.4em;
        }
        
        input[type=email] {
            font-size:.8em;
            padding:.4em !important;
            min-width: 0 !important;
            float: left;
        }
        
        input[type=submit] {
            font-size:.8em;
            padding:.4em .6em !important;
            height:37px;
            float: left;
        }
        
        
    }

}


/* AREA: GET INVOLVED */

#getinvolved {
    background: $blue-mid;
    background-blend-mode: screen;
    background-position: top center;
    text-align: center;
    padding: 2em 0;

    h2,
    p {
        text-align: center;
        color: $w;
        margin: .5em;
    }


    a.button {
        display: inline-block;
        color: $gray;
        background: $blue-accent;
        height: 30px;
        line-height: 30px;
        margin: 1em;
        padding: .5em .75em;
        border-radius: 18px;
    }

    a.button:hover {
        background: $gray-lighter;
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }

}



/* AREA: COMMUNITY */

.community-photo{
    margin: 0 auto;
    text-align: center;
    padding: .5em;
}


.community-container {
   

    .community-communities {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .community-place {
        padding: 1em;
        max-width: 120px;
        text-align: center;
        font-size: .8em;
        line-height: 1.3em;
        color: $gray-light;
    }

    .community-place img {
        max-width: 110px;
        padding: 1em;
        box-sizing: border-box;
    }


    
    p u{
        color: lightblue;
    }

    a.button {
        display: inline-block;
        color: $gray;
        background: $blue-accent;
        height: 30px;
        line-height: 30px;
        margin: 1em;
        padding: .5em .75em;
        border-radius: 18px;
    }

    a.button:hover {
        background: $gray-lighter;
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }


}




/* EVENTS */


#events {

    .box-inner {
        max-width: 900px;
    }

    h1 {
        text-align: center;
        max-width: 100%;
        padding: 0 .5em;
    }

    p {
        text-align: center;
    }

    .event-container {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

.event {

    max-width: 340px;
    margin: auto;
    padding: 1em;
    overflow: hidden;

    .details {
        text-align: center;
        padding: 0 2em;
        font-size: .8em;

        .detail {
            display: inline-block;
            padding: .5em;
        }

    }


    img {
        max-height: 180px;
        width: auto;
        overflow: hidden;
    }



    h3 {
        margin: .5em;
        text-align: center;
        font-size: 1.1em;
    }

}

.event:hover > img {
    transform: scale(1.02);
    overflow: hidden;
}

.event:hover > h3 {
    text-decoration: underline;
}


/* PAGE TRANSITIONS */


#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: $blue-page;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

#fader:before {
    content: 'fade'
}

@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}




/* ANIMATIONS */

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -3%);
    }

    20% {
        transform: translate(-2%, 5%);
    }

    30% {
        transform: translate(7%, -6%);
    }

    40% {
        transform: translate(-5%, 6%);
    }

    50% {
        transform: translate(-4%, 4%);
    }

    60% {
        transform: translate(4%, 0%);
    }

    70% {
        transform: translate(0%, 5%);
    }

    80% {
        transform: translate(3%, 2%);
    }

    90% {
        transform: translate(-8%, 3%);
    }
}




/* FONTS */

@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Italic.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-MediumItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntl-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-BoldItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntl-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}








@font-face {
    font-family: 'Messina Sans Mono';
    src: url('../fonts/MessinaSansMono-Regular.woff2') format('woff2'),
        url('../fonts/MessinaSansMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Messina Sans';
    src: url('../fonts/MessinaSans-Regular.woff2') format('woff2'),
        url('../fonts/MessinaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Messina Sans';
    src: url('../fonts/MessinaSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/MessinaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Messina Sans';
    src: url('../fonts/MessinaSans-RegularItalic.woff2') format('woff2'),
        url('../fonts/MessinaSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Messina Sans';
    src: url('../fonts/MessinaSans-Bold.woff2') format('woff2'),
        url('../fonts/MessinaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
