
@import url("https://use.typekit.net/jbp2son.css");

body{
    font-family: neue-haas-unica, sans-serif;
    color:#433c3c;
}

#container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    justify-content: center;
    justify-items: center;

    overflow-x: hidden;
    overflow-y: scroll;
}

#footer{
		margin-bottom: 100px;
}

#footer a{
		width: 100%;
		text-align: center;
		display: block;
		padding:4px;

		color:#777;
		text-decoration: none;
		text-transform: uppercase;
		font-family: botanika-mono-web, monospace;

		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
}

#footer a:hover{
		color: #999;
}

.box {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: top;
    align-items: center;
    margin: 0;
}

.box-inner{
		margin: 0 auto;
		width: 90vw;
    max-width: 900px;
    padding: 0 16px;
}

hr{
		border: 1px solid #999;
		padding: 0;
		margin: 40px 0;
}


.gradient{
	position: fixed;
	pointer-events: none;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mix-blend-mode: darken;
	opacity: 0.4;
	background-size: 50%;
}


.cover{
    background: #fc602d;
    height: 600px;
		min-height: 100vh;
    width: 100%;
    background-image: url(../images/cover.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position:  center;
    
}


.festival-cover{
		min-height: 100vh;
		align-content: flex-start;
		margin-bottom: 50px;
}

.festival-cover .box-inner{
		margin-top: -150px;
		padding-bottom: 20px;
		text-align: center;
}


.festival-cover em.donation{
		color: #676767;
		padding: 8px;
		margin: 4px;
		font-style: normal;
		font-size: 12px;
}


@media only screen and (max-width: 600px) {
		
		h1,h2{
				font-size: 1.5em !important;
		}
		
		.flavor{
				display: none;
		}

		.festival-cover{
				min-height: 700px;
		}
		
	.festival-cover .box-inner {
		margin-top: 0px;
	}

	.cover {
		min-height: auto;
		height: 500px;
		background-image: url(../images/cover.jpg);
		background-size: cover;
	}
}

@media only screen and (min-width: 1100px) {

	.cover {
		height: 400px;
		background-position: top center;
		background-size: cover;
		background-image: url(../images/cover.jpg);

	}
}


 a.big{
		display: inline-block;
		font-size: 18px;
		padding:8px 16px;
		border:1px solid #2f2f2f;
		border-radius: 16px;
		color:#2f2f2f;
		text-transform: uppercase;
		text-decoration: none;
		font-family: botanika-mono-web, monospace;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
}

 a.big:hover{
		box-shadow: 0 4px #777;
		transform: translateY(-4px);
}

.festival-cover .marquee{
		margin-top: 20px;
		padding-bottom: 50px;
		text-transform: uppercase;

}

.festival-cover .marquee strong{
		font-weight: 300;
		letter-spacing: .5px;
		margin: 8px 16px;
}

.festival-intro{

    margin-top: -70px;
    padding: 2em;
    box-sizing: border-box;
}

 p.info{
    font-size: 1.25em;
		font-weight: 100;
    line-height: 1.5em;
    max-width: 700px;
     margin:1em auto;
}

h1, h2{
    width: 100%;
		max-width: 600px;
		display: block;
		margin: 0 auto;
		font-family: botanika-mono-web, monospace;
		text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size:3.2em;
    line-height: 1em !important;
}


img.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flavor{
		background: #b2b2b2;
		position: relative;
		z-index: -999 !important;
		width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
		opacity: 0.5;
}

.flavor img{
		mix-blend-mode: difference;
		opacity: 0.5;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* BENEFICIARIES */

.beneficiary_list{
		font-size: .8em;
}

.beneficiary_list strong{
		font-family: botanika-mono-web, monospace;
		text-transform: uppercase;
}

.beneficiary_list p.info{
		margin-top:40px;
}

.beneficiary_list a{
	color:#222;
	border-bottom: 1px dotted #777;
	text-decoration: none;
	
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
}

.beneficiary_list a:hover{
	color:#222;
	border-bottom: 1px dotted #222;
	text-decoration: none;
}

/* KITS */

.festival-donate{
		margin-bottom: 100px;
}

.festival-donate .box-inner{
		max-width: 1400px;
}

.kits{
		display: block;
		width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.kits .kit{
		margin: 8px;
    width:260px;
    padding: 1em;
    border:1px solid #1d1d1d;
    border-radius: 5px;
    
}


@media only screen and (max-width: 800px) {
		
		.kits{
				width: 100%;
		}

		.kits .kit{
				width: 100%;
				border: 0;
		}
		
}

.kits .kit h2{
    margin: 0;
    font-size: 1.5em;
}

.kits .kit h3{
    margin: 0;
    font-weight: 100;
		text-transform: uppercase;
		font-family: botanika-mono-web, monospace;
    font-size: 1em;
}

.kits .kit ul{
    text-align: left;
    font-size: .8em;
}

.kits .kit img{
		display: none;
    max-width: 60px;
    mix-blend-mode: exclusion;
    
}


@keyframes marquee {
  0% { left: 100%; }
  50% { left: -100%; }
  100% {left: -100%}
}

